.Rproj.user
.Rhistory
.RData
.Ruserdata
/17-06/sekToken.txt
/17-06/cred.R
/17-06/chicagoTaxiRides.RDS
/17-07/Valentines Day Spending.xlsx
/17-09/AMEX 2016 Spending.xlsx
/17-10/Top 500 YouToube Games Channels.xlsx
/17-12/NCAA Mens March MAdness Historical Results.csv